/* Reset style */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --color-primary: #219f95;
  --color-secondary: #afcedd;
  --color-badge: #afcedd;
  --text-primary: #1e1e1e;
  --text-secondart: #696969;
  --text-header: #234894;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "IranianSans", "IranianSansBold";
  background-color: #ffffff;
  margin-top: 86px;
  margin-left: 82px;
  margin-right: 82px;
}
title h2 {
  font-family: "IranianSansBold";
  color: var(--text-primary);
}

.container {
  height: 100vh;
}
.items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.header{
  margin-bottom: 8rem;
}

@media screen and (min-width: 768px) {
  .items {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    grid-column: -1/1;
    margin-bottom: 8rem;
  }

}
@media screen and (min-width: 1024px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .header {
    grid-column: -1/1;
    margin-bottom: 8rem;

  }
}
.item {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.item-dete {
  color: var(--text-secondart);
}
.item-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}
.item-footer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.item-profile {
  display: flex;
  gap: 0.5rem;
}
span {
  color: var(--text-header);
  background-color: var(--color-badge);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  font-size: medium;
}
h2 {
  color: var(--text-header);
}
img {
  border-radius: 0.5rem;
  width: 3rem;
}
h3 {
  color: var(--text-primary);
  font-weight: bold;
  font-size: larger;
}
h4 {
  color: var(--text-primary);
  font-size: medium;
}
button {
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 0.5rem  1rem;
  border-radius: 0.5rem;
  border: none;
  font-family: "IranianSans";
}
